*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
html{
    font-size: 10px;
    overflow-x: hidden;
}
body{
    height: 100vh;
    width: 100vw;
    background: no-repeat linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(IMAGES/img.jpeg);
    background-size:cover;
    position:center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginfombox {
    background: rgba(255,255,255,.6);
    box-shadow: 8px 8px 50px #255;
    padding:2rem;
    width:100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.loginfombox .heading{
    color: #000;
    width: max-content;
    background: linear-gradient(to right, #708090,#a9a9a9,#708090,#a9a9a9,#708090);
    padding: 0.5rem;
    border-radius: 12px;
    margin: 2rem;
    letter-spacing: 0.3rem;
    
}

.loginfombox .input_groups p{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    
}
.loginfombox .input_groups .input_field{
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(184, 182, 182);
    margin-bottom: 1rem;
}
.loginfombox .input_groups{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginfombox .input_groups button{
    border: none;
    color: white;
    width: max-content;
    background: linear-gradient(to right, #708090,#a9a9a9,#708090,#a9a9a9,#708090);
    padding: 0.5rem;
    border-radius: 12px;
    margin: 3rem;
    letter-spacing: 0.3rem;
}
.loginfombox .input_groups button:hover{
    letter-spacing: 0.4rem;
    color: antiquewhite;
    border: 1px solid white;
}

.loginfombox .addrfld{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.loginfombox .addrfld p{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}
.loginfombox .addrfld ul{
    list-style-type:none;
}